@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.registerPsuedo{
  position:relative;
}
.registerPsuedo::before{
  content:'';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-color: #0a0a0a75;
  z-index: 0;
}

.registerWrapper{
  background:rgba(0,0,0,0.4);

}

.registerForm input{
 border:1px solid white;
 padding:10px 0px;
 padding-left:10px;
  border-radius: 8px;
}

.default-input{
   border:1px solid white;
 padding:10px 0px;
 padding-left:10px;
 border-radius: 0px;
}

.default-input:focus{
  border-radius: 0px !important;
}

button{
  cursor: pointer;
}

h1{
  font-size: 42px;
  font-style: italic;
  font-weight: 700;
}

h2{
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
}

h3{
  font-size: 30px;
  font-style: italic;

}